body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #0d0f18;
    background-size: cover;
    color: white;
}

.btn:hover{
    background: #3c5dc0;
    transform: scale(1.05);
}

.container {
    width: 100%; 
    max-width: 800px; /* Largura máxima maior para a tabela */
    margin: 40px auto;
    padding: 20px;
    background: #1a1e28; /* Fundo levemente mais claro para o conteúdo principal */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    justify-content: center; /* horizontal */
    align-items: center;    /* vertical */ 
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.status-boxes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.box {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    width: 48%;
    text-align: center;
}

.status {
    padding: 8px 0;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: bold;
}

.aberta {
    background: green;
}

.fechada {
    background: red;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #253a7a;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.eventos {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.linha {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.linha:last-child {
    border-bottom: none;
}

.grafico {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.btn-sair {
    width: 50%;
    margin-left: 25%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #808080;
}

.btn-sair:hover{
    background: #cacaca;
    transform: scale(1.05);
} 