body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: #0d0f18;
    background-size: cover;
    color: white;
}

.container {
    width: 90%;
    max-width: 380px;
    margin: auto;
    padding-top: 20px;
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.status-boxes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.box {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    width: 48%;
    text-align: center;
}

.status {
    padding: 8px 0;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: bold;
}

.aberta {
    background: green;
}

.fechada {
    background: red;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #253a7a;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.eventos {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.linha {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.linha:last-child {
    border-bottom: none;
}

.grafico {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.sair {
    background: gray;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
}
